html, body {
    height: 100%;  
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #DFFEFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    background-color: rgb(251, 200, 107);
}

.nav-item {
    margin-left: 15px;
    margin-right: 25px;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: black;
}


.nav-link {
    color: white;
}

.nav-link.active {
    color: black;
}

.nav-link:hover {
    color: black;
}

#loader {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.drop {
    position: fixed;
    width: 35px;
    height: 35px;
    background-color: orange;
    border-radius: 0 50% 50% 50%;
    border: 3px solid orange;
    transform: rotate(45deg);
}

.d-one {
    animation: drip 1s;
    animation-iteration-count: infinite;
    top: 40%;
    left: 43%;
}

.d-two {
    animation: drip 2s;
    animation-iteration-count: infinite;
    top: 45%;
    left: 50%;
}

.d-three {
    animation: drip 2.5s;
    animation-iteration-count: infinite;
    top: 40%;
    left: 55%;
}

@keyframes drip {
    100% {transform: rotate(45deg) translateY(120px) translateX(120px); opacity: 0;}
}

#loading {
    margin-top: 100px;
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5em;
}

#main {
    display: none;
}

#main-container {
    display: flex;
    border: 4px solid white;
    flex-direction: column;
    border-radius: 1.5rem;
    margin: 50px;
    position: relative;
    overflow: hidden;
}

#welcome {
    text-align: center;
    margin-top: 35px;
    font-size: 2em;
}

#sun-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 170px;
}

#sun {
    position: absolute;
    right: 0px;
    top: -130px;
    right: -130px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

#game-container {
    position: relative;
}


#grass {
    background-color: #00A651;
    height: 40px;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
}

#tree-container {
    position: relative;
}

.orange {
    background-color: orange;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
}

.orange:hover {
    cursor: pointer;
    animation: orangeshake 1s;
}

@keyframes orangeshake {
    10% { transform: translateX(3px); }
    20% { transform: translateX(-3px); }
    30% { transform: translateX(3px); }
    40% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    60% { transform: translateX(-3px); }
    70% { transform: translateX(3px); }
    80% { transform: translateX(-3px); }
    90% { transform: translateX(3px); }
    100% { transform: translateX(0); }
    
}

.o-1 {
    top: 90px;
    left: 170px

}

.o-2 {
    top: 250px;
    left: 100px

}

.o-3 {
    top: 210px;
    left: 300px

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#tree-svg:active {
    animation: tree-shake 1s;
    animation-iteration-count: infinite;
}

@keyframes tree-shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(1deg); }
    20% { transform: rotate(-1deg); }
    30% { transform: rotate(1deg); }
    40% { transform: rotate(-1deg); }
    50% { transform: rotate(1deg); }
}

#game-canvas-container {
    width: 100%;
    height: 300px;
    bottom: 30px;
    position: absolute;
}

#game-canvas {
    width: 100%;
    height: 100%;
}

footer {
    background-color: rgb(251, 200, 107);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-name {
    padding: 5px;
}

#footer-links {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}